body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@keyframes changewidth {
  0% {
    background-color: #f1935c;
  }
  33% {
    background-color: #e7b2a5;
  }
  67% {
    background-color: #ba6b57;
  }
  100% {
    background-color: #30475e;
  }
}

body {
  animation-duration: 25s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
